* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  
  width: 100% !important;
}

body {
  font-family: 'Inter';
  background: #0d0219;
  color: white;
}

section, footer {
  padding: 0 calc((100% - 1120px) / 2) 0 calc((100% - 1120px) / 2);

}

a, button{
  transition: all 0.3S;
  &:hover{
    opacity: 0.9;
    scale: 1.025;
  }

  &:active{
    scale: 0.9;
  }
}


.title{
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
}

.select{
  display: inline-block;
  padding: 1.25rem 1.5rem;
  border-radius: 12px;
  font-size: 1.25rem;
  border: none;
  font-weight: 600;
  img{
    margin-left: 3rem;
  }
}

button, a{
  cursor: pointer;
}

.hero-section {
  background-image: url('../images/hero-main-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: end;

  .title {
    font-weight: 600;
    color: white;
    font-size: 64px;
    text-align: right;
  }

  .button {
    color: white;
    font-size: 36px;
    border: 5px solid white;
    border-radius: 9999999px;
    padding: 19px 43px;
    align-self: end;
    margin-top: 56px;
    margin-bottom: 136px;
  }
  
}

@media (max-width: 1024px) {
  section, footer{
    padding: 0 50px;
    
    .title{
      font-size: 36px;
    }
  }
  .hero-section {
    min-height: fit-content;
    .title{
      margin-top: 100px;
      font-size: 36px;
    }
    .button{
      font-size: 1.25rem;
      padding: 11px 35px;
      border-width: 3px;
      margin-bottom: 100px;
    }
  }

}

@media (max-width: 640px) {
  section, footer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 15;

  }
  .hero-section {
    min-height: fit-content;
    .title{
      text-align: center;
    }
    .button{
      width: 100%;
      text-align: center;
    }
  }
}
