.participating-section {
  padding-top: 2rem;
  padding-bottom: 4rem;

  .content {
    margin-top: 4rem;
    display: flex;

    .round {
      background: #8c44d8;
      border-radius: 99999999999999px;
      width: 400px;
      aspect-ratio: 1;
      justify-content: center;
      align-items: center;
      display: flex;

      img {
        width: 268px;
        height: 271px;
      }
    }

    .advantages {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 0;

      .adv-item {
        display: flex;
        gap: 0.75rem;
        align-items: center;
        margin-left: 1.5rem;

        p {
          font-size: 1.5rem;
          font-weight: 600;
        }
        .lil-round {
          background: #8c44d8;
          border-radius: 99999px;
          width: 33px;
          height: 33px;
          aspect-ratio: 1;
        }
        &:nth-child(3) {
          margin-top: 1.15rem;
          margin-bottom: 1.15rem;
        }
        &:nth-child(1),
        &:nth-child(5) {
          transform: translateX(-50px);
        }
        &:nth-child(2),
        &:nth-child(4) {
          transform: translateX(-15px);
        }
      }
    }
  }
  @media (max-width: 1024px) {
    .content {
      margin-top: 1.5rem;
      .round {
        display: none;
      }
      .advantages {
        gap: 1rem;
        .adv-item {
          transform: none !important;
          p{
            font-size: 16px;

            br{
              display: none;
            }
          }
          &:nth-child(3) {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  @media (max-width: 640px) {
  }
}
