.winners-section{
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

 

  .winners-wrapper{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 170px;

    .item{
      img{
        width: 220px;
        aspect-ratio: 1;
        border-radius: 999999999px;
        box-shadow: 0 12px 80px 0 #8d43d588;
      }
      h3{
        margin-top: 2rem;
        text-align: center;
        font-weight: 600;
        text-shadow: 0 12px 20px #8d43d588;
      }

      &:first-child{
        transform: translateY(100px);
      }
       &:last-child{
        transform: translateY(170px);
      }
    }

    
  }
  .select{
    margin-top: 4rem;
    background: #8d43d5;
    color: white;
   

    img{
      margin-left: 3rem;
    }
  }

  @media (max-width: 1024px) {
    .winners-wrapper{

      .item{
        img{
          width: 150px;
        }
        h3{
          font-size: 14px;
        }
      }
    }
  }

  @media (max-width: 640px) {
    
    .winners-wrapper{
      flex-direction: column;
      margin-bottom: 0;
      order: 1;
      
      .item{
        transform: none !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        h3{
          margin-top: 0;
          font-size: 20px;
          font-weight: 500;
          text-align: start;

          br{
            display: none;
          }
        }

        &:first-child{
          order: 2;
        }
        &:last-child{
          order: 3;
        }
      }
    }
  }
}
